<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <%-include('includes/header')%>
    <%-include('includes/navbar')%>
    <div class="container index-container">
        <div class="row">
            <div class="col-lg-2"></div>

            <div class="col-lg-8 my-5 title-container">
                <%-include ('includes/messages')%>
                <h1 class=" text-center">Agenda</h1>
                <p class="text-center lead">Seus contatos estão abaixo</p>

                <div class="responsive-table  tabela-container">
                    <table class="table my-3 tabela-tabela">
                        <tr>
                            <td>Nome</td>
                            <td>Telefone</td>
                            <td>Email</td>
                            <td class="td-acoes">Ações</td>
                         </tr>
                
                     <%contacts.forEach((contato)=>{%>
                        <tr>
                            <td><%=contato.nome%></td>
                            <td><%=contato.telefone%></td>
                            <td><%=contato.email%></td>
                            <td><a href="/contatos/edit/<%=contato._id%>" class="edit-btn">Editar</a></td>
                            <td>
                                <form action="/contatos/delete" method="post">
                                    <input type="hidden" value="<%=contato._id%>" name="id">
                                    <button type="submit" class="Excluir-btn">Excluir</button>
                                </form>
                            </td>
                        </tr>
                        
                    <%})%>
                    </table>
                </div>
            </div>

            <div class="col-lg-2"></div>
        </div>
    </div>
    <%-include('includes/footer')%>
</body>

</html>